@{
    Layout = "_Layout";
}

@using Capstone.Models;


<h1>This is a TEST FOR CLIENT INDEX</h1>
<hr />

@if (@Model.Count == 0)
{
  <b>No clients have been added yet!</b>
} 
else
{
  <ul>
    @foreach (Client client in Model)
    {
      <li>@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId }) ID# @client.ClientId</li>
    }
  </ul>
}
<hr />
<p>@Html.ActionLink("Add new client", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>