@{
    Layout = "_Layout";
}

@using Capstone.Models;


<h1>This is a TEST FOR SERVICE INDEX</h1>
<hr />

@if (@Model.Count == 0)
{
  <b>No services have been added yet!</b>
} 
else
{
  <ul>
    @foreach (Service service in Model)
    {
      <li>@Html.ActionLink($"{service.Name}", "Details", new { id = service.ServiceId }) ID# @service.ServiceId</li>
    }
  </ul>
}
<hr />
<p>@Html.ActionLink("Add new service", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>